{{define "title"}}Admin{{end}}
{{template "header.html" .Header}}

{{ template "flash.html" .Flash }}

<nav class="panel">
	<p class="panel-tabs">
		<a href="/">User</a>
		<a class="is-active">Admin tools</a>
	</p>
	<a href="/admin/match/new" class="panel-block">
		<span class="panel-icon">
			<i class="fa fa-plus-square"></i>
		</span>
		New match
	</a>
	<a href="/admin/users" class="panel-block">
		<span class="panel-icon">
			<i class="fa fa-user"></i>
		</span>
		User list
	</a>
</nav>

{{template "footer.html" .}}
