{{define "title"}}Admin - Users{{end}}
{{template "header.html" .Header}}

{{ template "hero.html" .Header }}
{{template "flash.html" .Flash}}

<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Username</td>
            <td>Score</td>
        </tr>
    </thead>
    {{ range $element := .Users }}
        <tr>
            <td>{{ $element.Id }}</td>
            <td>
                {{ $element.Username }}
                [{{ if $element.Admin }}A, {{ end }}{{ if $element.UserType }}J{{ else }}P{{ end }}]
            </td>
            <td>{{ $element.Score }}</td>
        </tr>
    {{ end }}
</table>

{{template "footer.html" .}}
