<meta charset="utf8">
<link rel="stylesheet" type="text/css" href="/public/styles/main.css">

<style>
    h1 {
        text-align: center;
    }
    .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 1;
        align-items: center;
        justify-content: center;
    }
    #react-mycards {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>

<h1>Cards against Humanity</h1>

<div id="react-blackrow"></div>
<div class="flex" id="react-whiterow"></div>

<div id="react-mycards" style="display: none;"></div>

<script src="/public/scripts/react.development.js"></script>
<script src="/public/scripts/react-dom.development.js"></script>
<script src="/public/scripts/game.min.js"></script>