{{define "title"}}Home{{end}}
{{template "header.html" .Header}}

<section class="has-text-centered">
	<h1 class="title">ESC against Humanity</h1>
	<img src="public/img/ESC-logo-small.png" style="width: 5em" /> <!-- todo: fix path -->
	<p><strong>{{ .User.Username }}</strong> - {{ if is_player .User }}Giocatore{{ else }}Pubblico{{ end }}{{ if is_admin .User }}, admin{{ end }}</p>
</section>

<br>

{{template "flash.html" .Flash}}

<nav class="panel">
	<!-- Todo: JS to make the panel work -->
	{{ if is_admin .User }}
	<p class="panel-tabs">
		<a class="is-active">Utente</a>
		<a href="/admin">Admin tools</a>
	</p>
	{{ end }}
	<a href="/matches/join_latest" class="panel-block">
		<span class="panel-icon">
			<i class="fa fa-gamepad"></i>
		</span>
		Entra in partita
	</a>
	<!--
	<a href="/matches" class="panel-block">
	<span class="panel-icon">
	<i class="fa fa-gamepad"></i>
	</span>
	Matches
	</a>
	-->
	<a href="/logout" class="panel-block">
		<span class="panel-icon">
			<i class="fa fa-times-circle"></i>
		</span>
		Logout
	</a>
</nav>

<h4 class="title is-4">Punteggi migliori</h4>
<table class="table">
	{{ range $element := .Leaderboard }}
		<tr>
			<td>{{ $element.Username }}</td>
			<td>{{ $element.Score }}</td>
		</tr>
	{{ end }}
</table>

{{template "footer.html" .}}
