{{define "title"}}Login{{end}}
{{template "header.html" .Header}}

<form method="POST" action="/login" class="form page-centered">
	<h1 class="title">Login to continue</h1>
    {{template "flash.html" .Flash}}
    <div class="field">
		<label for="inputUsername" class="label">
			Username
		</label>
		<div class="control">
			<input class="input" type="text" id="inputUsername" name="username" required>
		</div>
    </div>
    <div class="field">
        <label for="inputPassword" class="label">
			Password
		</label>
		<div class="control">
			<input class="input" type="password" id="inputPassword" name="password" required>
		</div>
	</div>
	<div class="field is-grouped">
		<div class="control">
			<button type="submit" class="button is-link">Log in</button>
		</div>
		<div class="control">
			<a href="/signup">
				<button type="button" class="button is-text">Sign up</button>
			</a>
		</div>
	</div>
</form>

{{template "footer.html" .}}