{{set . "title" "Login"}}
{{template "header.html" .}}

<h1>Login to continue</h1>
<form method="POST" action="/login" class="form">
    {{template "flash.html" .}}
    <div>
        <label for="inputUsername">Username</label><br>
        <input type="text" id="inputUsername" name="username">
    </div>
    <div>
        <label for="inputPassword">Password</label><br>
        <input type="password" id="inputPassword" name="password">
    </div>
    <div>
        <a href="/register">Need an account? Register here!</a>
    </div>
    <button type="submit">Log in</button>
</form>