{{define "title"}}Login{{end}}
{{template "header.html" .Header}}

<form method="POST" action="/login" class="form page-centered">
	<h1>Login to continue</h1>
    {{template "flash.html" .Flash}}
    <div>
		<label for="inputUsername" class="form-label">
			Username
		</label>
		<input type="text" id="inputUsername" name="username">
    </div>
    <div>
        <label for="inputPassword" class="form-label">
			Password
		</label>
		<input type="password" id="inputPassword" name="password">
	</div>
    <div>
        <a href="/signup">Need an account? Sign Up here!</a>
    </div>
    <button type="submit">Log in</button>
</form>

{{template "footer.html" .}}