{{template "header.html" .Header}}

{{ template "hero.html" .Header }}

{{template "flash.html" .Flash}}

<!-- Todo: update automatically via websocket -->

<section class="container">
<div class="matches-container">
    {{ if eq (len .Matches) 0 }}
    <p>No matches available</p>
    {{ else }}
    {{ range $element := .Matches }}
        <div class="matches-match match">
            <h2>Match {{ $element.Id }}</h2>
            <table class="table table-match">
                <tr>
                    <td class="table-td-desc">Created on</td>
                    <td class="table-td-value">{{ format_date $element.CreatedOn }}</td>
                </tr>
                <tr>
                    <td class="table-td-desc">Players</td>
                    <td class="table-td-value">
                        {{ if eq (len $element.Players) 0 }}
                        No players
                        {{ else }}
                        <ul>
                        {{ range $element.Players }}
                            <li>{{ .User.Username }} ({{ .User.Score }})</li>
                        {{ end }}
                        </ul>
                        {{ end }}
                    </td>
                </tr>
                <tr>
                    <td class="table-td-desc">Join</td>
                    <td class="table-td-value"><a href="/matches/join/{{ $element.Id }}">Join the match!</a></td>
                </tr>
            </table>
        </div>
    {{ end }}
    {{ end }}
</div>
</section>
{{template "footer.html" .}}