{{$title:="Match"}}
{{template "header.html" .}}

<style>
    h1 {
        text-align: center;
    }
    .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-shrink: 1;
        align-items: center;
        justify-content: center;
    }
    #react-mycards {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow-y: scroll;
    }
    #react-mycards > .card {
        flex-shrink: 0;
    }
</style>

<div class="match-timer"></div>

{{ if is_admin .user }}<div class="match-admin-panel">
    <button class="button admin-panel-new-blackcard">New Black Card</button>
    <button class="button admin-panel-end-voting">End Voting</button>
</div> {{ end }}
<h1>Cards against Humanity</h1>

<div id="react-blackrow"></div>
<div class="flex" id="react-whiterow"></div>

<div id="react-mycards" style="display: none;"></div>

<script type="text/javascript">
    const MATCH_ID = {{ .match_id }};
    const IS_PLAYER = {{ if is_player .user }} true {{ else }} false {{ end }};
</script>

<script src="/public/scripts/react.development.js"></script>
<script src="/public/scripts/react-dom.development.js"></script>
<script src="/public/scripts/game.min.js"></script>

{{ template "footer.html" .}}