{{set . "title" "Register"}}
{{template "header.html" .}}

<h1>Registration</h1>
<form method="POST" action="/register">
    {{if .error}}
        <strong>{{ .error }}</strong>
    {{end}}
    <div>
        <label for="inputUsername">Username</label><br>
        <input type="text" id="inputUsername" name="username">
    </div>
    <div>
        <label for="inputPassword">Password</label><br>
        <input type="password" id="inputPassword" name="password">
    </div>
    <button type="submit">Sign up</button>
</form>