{{define "title"}}Sign Up{{end}}
{{template "header.html" .Header}}

<form method="POST" action="/signup" class="form page-centered">
	<h1>Registration</h1>
    {{if .Error}}
        <strong>{{ .Error }}</strong>
    {{end}}
    <div>
        <label for="inputUsername" class="form-label">Username</label>
        <input type="text" id="inputUsername" name="username">
    </div>
    <div>
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" id="inputPassword" name="password">
    </div>
    <div>
        <label class="form-user_type form-label">I'm a...</label>
        <input type="radio" name="user_type" id="player" value="player">
        <label for="player" class="radio-label">Player</label>
        <input type="radio" name="user_type" id="juror" value="juror">
        <label for="juror" class="radio-label">Juror</label>
    </div>
    <button type="submit">Sign up</button>
</form>