<!DOCTYPE html>

<html>
  <head>
    <title>{{template "title"}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/public/manifest.webmanifest">
    <link rel="stylesheet" type="text/css" href="/public/styles/main.css">
    {{range .MoreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .MoreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body class="container">
